doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../node_modules/bootstrap/dist/css/bootstrap-theme.css')

  body
    block content



    block js
      script(src="../")